.header {
  position: relative;
  background: #333333;
  width: 100%;
  height: auto;
  padding: 27px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  @include typeText($main-color, $main-font);

  .header-nav {
    .header-menu {
      @include typeFlex(row, center, space-between);

      &__item {
        text-align: center;
        width: 12%;

        & img {
          width: 30px;
          height: auto;
        }
      }

      &__item-logo {
        margin: 0 106px;
        width: 15%;
        box-sizing: border-box;

        & img {
          width: 230px;
          height: 60px;
        }

        &::before {
          content: url(./assets/img/icons/stone-icon.png);
          display: block;
          width: 60px;
          height: 60px;
          position: absolute;
          top: 45px;
          left: 42.45%;
        }

        &::after {
          content: url(./assets/img/icons/stone-icon.png);
          display: block;
          width: 60px;
          height: 60px;
          position: absolute;
          top: 45px;
          left: 51.75%;
        }
      }

      &__item-search {
        width: 17%;

        & a {
          @include typeFlex;
        }

        & img {
          width: 16px;
          height: auto;
          margin-right: 20px;
        }

        & input {
          border: none;
          width: 190px;
          height: 30px;
          border-radius: 7px;
          padding: 0 0 0 10px;
        }
      }
      &__item-icons {
        & a {
          @include typeFlex(row, center, space-between);
        }

        width: 7%;
        & img {
          width: 16px;
          margin-right: 30px;
        }
      }
    }
  }
}
