.mailing {
  padding-top: 100px;
  background-image: url(./assets/img/bg-black.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 100px;
  @include typeText($main-color, $main-font);

  .wrapper {
    @include wrapper;
    width: 800px;

    .little-form {
      margin-top: 74px;
      @include typeFlex(row, center, none);

      &__left {
        width: 50%;
        @include typeFlex(column, none, space-between);

        & div {
          margin-top: 20px;
          @include typeFlex(row, center, none);

          & img {
            width: 17px;
            margin-right: 20px;
            margin-bottom: 15px;
          }

          & p {
            margin-bottom: 15px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
      }

      &__right {
        width: 50%;
        @include typeFlex(column, center, space-between);

        .big-border {
          border: 1px solid #ffffff;
          padding: 15px;

          .middle-border {
            padding: 10px;
            background: #ffffff;
            border: 1px solid #ffffff;
            @include typeFlex(row, center, space-between);

            & input {
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 16px;
              width: 220px;
              border: 1px solid #d6d6d6;
              padding: 20px 0 20px 10px;
              letter-spacing: 0.1em;
              text-align: center;
              margin-right: 15px;
            }

            & button {
              text-transform: uppercase;
              @include mainStyleButton($main-color, $main-border, #333333);
            }
          }
        }
      }
    }
  }
}
