@import 'main-information';
@import 'main-page-catalog';
@import 'our-salons';
@import 'our_articles';
@import 'our_social_networks';
@import 'select_category';
@import 'product_cards';
@import 'product_information';
@import 'header-basket';
@import 'body-basket';
@import 'bottom_basket';
